https://cdn.mysql.com/Downloads/Connector-Python/mysql-connector-python-1.2.3.tar.gz
venusian==1.2.0
python-dateutil==2.7.0
pyramid==1.5.1
pyramid_chameleon==0.3
pyramid_debugtoolbar==2.2
pyramid-tm==0.7
pyramid_ldap==0.2
pyramid-mako==1.0.2
Pygments==1.6
waitress==2.1.1
SQLAlchemy==0.9.7
transaction==1.4.3
zope.sqlalchemy==0.7.5
python-ldap==2.4.16
ldappool==1.0
requests==2.3.0
arrow==0.4.4
passlib==1.6.2
PyramidXmlRenderer==0.1.5
python-pam==1.8.2
zope.interface==4.3.3
setuptools==36.7.1
WebOb==1.7.4
